.crewcontainer {
    background-image : url('/crew/background-crew-desktop.jpg');
    /* height : 100dvh; */
    background-position : center;
    background-size : cover;
    color : #fff;
    overflow:auto;
    
   
}

.crewdatainfo{
    display : grid;
    grid-template-columns:repeat(2,1fr);
    place-items :center;
    margin-top : 10rem;
    margin-left :7rem;
    
}

a:global(.active){
    border-bottom : 2px solid #fff;
}
@media only screen and (max-width : 1200px){

}
@media only screen and (max-width : 1023px){

}
@media only screen and (max-width : 767px){
    .crewdatainfo {
        grid-template-columns : 1fr;
        margin-left : 0;
    }
    

}
@media only screen and (max-width : 480px){
    
}