.destinationContainer{
    background-image : url('/destination/background-destination-desktop.jpg');
    /* height : 100dvh; */
    background-position : center;
    background-size : cover;
    color : #fff;
    /* margin:2rem; */

}
.destinationName {
    font-size : 2.5rem;
    margin-top : 6rem;
    margin-left :8rem;
    margin-bottom : 5rem;
    
}
.destination-content {
    display : grid ;
    grid-template-columns : repeat(2,1fr);
    place-items :center;
    padding:1.5rem;
    overflow : hidden;

}
/* @media (max-width :768px){
    .destination-content {
        grid-template-columns : 1fr;
    }
    .destinationImage {
       
        /* width : 50rem;
        overflow : hidden; */
    /* } */
    /* .marsnav{
        margin-bottom : 3rem;
    }
}  */
.destinationImage {
    display : flex;
    align-items :center;
    justify-content :center;
    /* background-color :red; */
    width : 100%;
    height : 100%;
    padding-block : 3rem;
}
.contentdata {
   
    width : 100%;
    padding :2rem;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    height : 100%;
    /* background-color:orange; */

}
.marsnav {
    display : flex;
    justify-content : flex-end;
    margin-right : 25%;
    /* background-color :purple; */
}
.destinationImage {
    display : flex;
    align-items : flex-start;
    justify-content : center ;
    width : 100%;
    /* background-color : blue; */
}
/* .destimg {
    width : 45%;
} */
@media only screen and (max-width : 1200px){

}
@media only screen and (max-width : 1023px){
    
    .destinationImage {
        padding-block : 1rem;
    
    }
    .destinationImage img {
        width : 85%;
    }

}
@media only screen and (max-width : 767px){
    .destinationImage{
        /* background-color :red; */
        display : flex;
        align-items : center;
        justify-content :center;
       
        
    }
    .marsnav {
       
        margin-right : 12%;
        
    }

}
@media only screen and (max-width : 480px){
    
}